html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.hoja {
  width: 210mm;
  height: 297mm;
  display: block;
  margin: 2rem auto 0 1rem;
}

svg {
  width: 100%;
  height: 100%;
}

aside {
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid #222;
  border-radius: 10px;
  min-width: 10rem;
  min-height: 10rem;
  opacity: 0.9;
  background-color: #eee;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

@media print {
  .hoja {
    margin: 0;
  }

  aside {
    display: none;
  }
}
