<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Impresión de recetarios</title>
  <link rel="stylesheet" href="https://get.mavo.io/mavo.css"/>
  <script src="https://get.mavo.io/mavo.js"></script>
  <script src="application.js"></script>
  <link href="application.css" rel="stylesheet">
</head>
<body>
  <main mv-app="recetarios" mv-storage="local">
    <div class="hoja">
      <svg viewbox="0 0 753 1103" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <g mv-if="version = 0">
          <title>Placeholder Image</title>
          <image x="-0.5" width="753" height="1103" href="placeholder.jpg">
        </g>
        <g>
          <title>Background Image</title>
          <image mv-if="version > 0" x="-0.5" width="753" height="1103" id="recetario_blanco" href="https://online.colfarsfe.org.ar/iapos/ImpresionRecetas/ObtenerRecetas?NumeroAfiliado=[replace(first(afiliado).numero, '.')]&NombreAfiliado=[replace(uppercase(idify(first(afiliado).nombre)),'-','%20')]&version=[version]"/>
        </g>
        <g>
        <title>Texts</title>
        <text x="30" y="144" font-size="24" mv-value="first(afiliado).nombre">Nombre del afiliado</text>
        <text x="30" y="694" font-size="24" mv-value="first(afiliado).nombre">Segunda receta</text>
        <text x="32" y="190" mv-value="first(afiliado).numero" font-size="24">5.480.051</text>
        <text x="33" y="740" mv-value="first(afiliado).numero" font-size="24">5.480.051</text>
        <text x="200" y="191" mv-value="first(afiliado).edad" font-size="24">82</text>
        <text x="201" y="741" mv-value="first(afiliado).edad" font-size="24">82</text>
        <text x="245" y="190" mv-value="first(afiliado).peso" font-size="24">67</text>
        <text x="246" y="740" mv-value="first(afiliado).peso" font-size="24">67</text>
        <text x="90" y="218" mv-value="diag_1" font-size="22">diag-1</text>
        <text x="90" y="243" mv-value="diag_2" font-size="22">diag 2</text>
        <text x="91" y="768" mv-value="diag_3" font-size="22">diag 3</text>
        <text x="91" y="793" mv-value="diag_4" font-size="22">diag 4</text>
        <text x="292.54189" y="191" mv-value="day(fecha, '00')" font-size="24">dd</text>
        <text x="293.54189" y="741" mv-value="day(fecha_2, '00')" font-size="24">dd</text>
        <text x="341.55209" y="191" mv-value="month(fecha, '00')" font-size="24">mm</text>
        <text x="342.55209" y="741" mv-value="month(fecha_2, '00')" font-size="24">mm</text>
        <text x="386.65198" y="191" mv-value="year(fecha, '00')" font-size="24">yy</text>
        <text x="387.65198" y="741" mv-value="year(fecha_2, '00')" font-size="24">yy</text>
        <text x="78" y="296" mv-value="condense(medicamento where id = medicamento_1).droga" font-size="22">med-1</text>
        <text x="78" y="353" mv-value="condense(medicamento where id = medicamento_2).droga" font-size="22">med-2</text>
        <text x="79" y="846" mv-value="condense(medicamento where id = medicamento_3).droga" font-size="22">Solifenacina</text>
        <text x="81" y="900" mv-value="condense(medicamento where id = medicamento_4).droga" font-size="22">Solifenacina</text>
        <text x="93" y="321" mv-value="condense(medicamento where id = medicamento_1).marca" font-size="22">diag</text>
        <text x="93" y="871" mv-value="condense(medicamento where id = medicamento_3).marca" font-size="22">diag</text>
        <!-- <text x="93" y="378.07889" id="svg_38" font-size="22">diag</text> -->
        <!-- <text x="94" y="871" id="svg_52" font-size="22">diag</text> -->
        <!-- <text x="96" y="925" id="svg_24" font-size="22">diag</text> -->
        <text x="351" y="293" mv-value="condense(medicamento where id = medicamento_1).forma" font-size="18">ff1</text>
        <text x="351" y="350" mv-value="condense(medicamento where id = medicamento_2).forma" font-size="18">ff2</text>
        <!-- <text x="352" y="322" id="svg_61" font-size="22">mm1</text> -->
        <!-- <text x="352" y="379.07889" id="svg_39" font-size="22">mm2</text> -->
        <text x="352" y="843" mv-value="condense(medicamento where id = medicamento_3).forma" font-size="18">ff3</text>
        <text x="354" y="897" mv-value="condense(medicamento where id = medicamento_4).forma" font-size="18">ff4</text>
        <text x="420" y="295" mv-value="condense(medicamento where id = medicamento_1).concentracion" font-size="16">1mg</text>
        <text x="420" y="352" mv-value="condense(medicamento where id = medicamento_2).concentracion" font-size="16">2mg</text>
        <text x="421" y="845" mv-value="condense(medicamento where id = medicamento_3).concentracion" font-size="16">3mg</text>
        <text x="423" y="899" mv-value="condense(medicamento where id = medicamento_4).concentracion" font-size="16">4mg</text>
        <!-- <text x="421" y="324" id="svg_63" font-size="18">3mg</text> -->
        <!-- <text x="421" y="381.07889" id="svg_40" font-size="18">3mg</text> -->
        <text x="478" y="295" mv-value="condense(medicamento where id = medicamento_1).contenido" font-size="16">10</text>
        <text x="478" y="352" mv-value="condense(medicamento where id = medicamento_2).contenido" font-size="16">20</text>
        <text x="479" y="845" mv-value="condense(medicamento where id = medicamento_3).contenido" font-size="16">30</text>
        <text x="481" y="899" mv-value="condense(medicamento where id = medicamento_4).contenido" font-size="16">40</text>
        <!-- <text x="479" y="324" id="svg_65" font-size="20">30</text> -->
        <!-- <text x="479" y="381" id="svg_41" font-size="20">40</text> -->
        <text x="529" y="293" mv-value="if(medicamento_1, '1', '')" font-size="18">1</text>
        <text x="529" y="350" mv-value="if(medicamento_2, '1', '')" font-size="18">2</text>
        <text x="530" y="843" mv-value="if(medicamento_3, '1', '')" font-size="18">3</text>
        <text x="532" y="897" mv-value="if(medicamento_4, '1', '')" font-size="18">4</text>
        <!-- <text x="530" y="322" id="svg_69" font-size="18">5</text> -->
        <!-- <text x="530" y="379" id="svg_43" font-size="18">6</text> -->
        <text x="556" y="292" mv-value="if(medicamento_1, 'uno', '')" font-size="16">uno</text>
        <text x="556" y="349" mv-value="if(medicamento_2, 'uno', '')" font-size="16">dos</text>
        <text x="557" y="842" mv-value="if(medicamento_3, 'uno', '')" font-size="16">tres</text>
        <text x="559" y="896" mv-value="if(medicamento_4, 'uno', '')" font-size="16">cuatro</text>
        <!-- <text x="557" y="321" id="svg_67" font-size="16">tres</text> -->
        <!-- <text x="557" y="378" id="svg_42" font-size="16">cuatro</text> -->
        </g>
      </svg>
    </div>
    <aside>
      <h2 class="mv-bar mv-ui" mv-bar="with import export">Controles</h2>

      <section>
        <h3>Recetarios</h3>

        <label>Fecha <input property name="fecha" type="date" mv-default="[$today]"></label>
        <fieldset>
          <legend>Medicamento 1</legend>
          <label>Diagnostico <input property="diag_1"></label>
          <label>Medicamento
            <select property="medicamento_1">
              <option mv-value="medicamento" mv-multiple>[id]</option>
            </select>
          </label>
        </fieldset>
        <fieldset>
          <legend>Medicamento 2</legend>
          <label>Diagnostico <input property="diag_2"></label>
          <label>Medicamento
            <select property="medicamento_2">
              <option value="">En blanco</option>
              <option mv-value="medicamento" mv-multiple>[id]</option>
            </select>
          </label>
        </fieldset>

        <hr>

        <label>Fecha <input property name="fecha_2" type="date" mv-default="[fecha]"></label>
        <fieldset>
          <legend>Medicamento 3</legend>
          <label>Diagnostico <input property="diag_3"></label>
          <label>Medicamento
            <select property="medicamento_3">
              <option mv-value="medicamento" mv-multiple>[id]</option>
            </select>
          </label>
        </fieldset>

        <fieldset>
          <legend>Medicamento 4</legend>
          <label>Diagnostico <input property="diag_4"></label>

          <label>Medicamento
            <select property="medicamento_4">
              <option value="">En blanco</option>
              <option mv-value="medicamento" mv-multiple>[id]</option>
            </select>
          </label>
        </fieldset>
      </div>

      <hr>

      <label>Version <input property=version type=number mv-init="0"></label>

      <form action="//online.colfarsfe.org.ar/iapos/ImpresionRecetas"
            method="post"
            target="pagina_iapos">
        <label>Número de afiliado
          <input id=numero_afiliado name="NumeroAfiliado" value="[replace(first(afiliado).numero, '.')]">
        </label>
        <button type="submit">Generar recetario</button>
      </form>

      <iframe sandbox name="pagina_iapos" id="pagina_iapos" onload="increment_version()"></iframe>

      <footer>
        El código fuente de esta aplicación está disponible en
        <a href="https://gitlab.com/eloyesp/recetarios">gitlab</a> bajo licencia
        <a href="https://www.gnu.org/licenses/agpl-3.0.md">AGPL</a>.
      </footer>

      <hr>

      <h3>Afiliados</h3>
      <p>El primer afiliado en la lista es el que se utiliza en el recetario</p>
      <div property="afiliado" mv-list>
        <dl mv-list-item>
          <dt>Nombre</dt><dd property="nombre"></dd>
          <dt>Numero</dt><dd property="numero"></dd>
          <dt>Edad</dt><dd property="edad"></dd>
          <dt>Peso</dt><dd property="peso"></dd>
        </dl>
      </div>

      <h3>Medicamentos</h3>
      <fieldset property="medicamento" mv-multiple>
        <label>Id <input property="id" disabled readonly value="[idify(join(list(droga, concentracion, contenido), '-'))]"></label>
        <label>Droga <input property="droga" placeholder="Solifenacina"></label>
        <label>Forma Farmaceutica
          <select property="forma">
            <option value="comp">Comprimidos</option>
            <option value="comp.rec">Comprimidos Recubiertos</option>
            <option value="jbe">Jarabe</option>
            <option value="caps">Cápsulas</option>
            <option value="soluc">Solución</option>
            <option value="unid">Unidades</option>
            <option value="comp.ef">Comprimidos Ef.</option>
            <option value="tiras">Tiras</option>
          </select>
        </label>
        <label>Concentracion <input property="concentracion" placeholder="10mg"></label>
        <label>Contenido <input property="contenido"></label>
        <label>Marca Sugerida <input property="marca"></label>
      </fieldset>
    </aside>
  </main>
</body>
</html>
